@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply p-4 mr-5 mb-4 grow border border-gray-400 rounded shadow-md;
        @apply dark:bg-gray-800 dark:border-gray-600;
    }

    hr {
        @apply w-full mb-4
    }

    span {
        @apply font-mono text-primary-500
    }
}
